.logo:link {
    color: white;
    text-decoration: none;
}

.logo:visited {
    color: white;
    text-decoration: none;
}

.logo:hover {
    color: white;
    text-decoration: none;
}

.logo:active {
    color: white;
    text-decoration: none;
}

.profilepicture {
    width: 32px;
    border-radius: 50%;
}